.sub-nav-tabs .sub-nav-item.show .sub-nav-link, .sub-nav-tabs .sub-nav-link.active {
    border: none;
    border-bottom: 2px solid #ff3366 !important;
    color: #ff3366 !important;
    font-size: 16px;
    background-color: #ffffff;
}
.sub-nav-tabs .sub-nav-link:focus, .sub-nav-tabs .sub-nav-link:hover {
    font-size: 16px;
    color: #ff3366 !important;
    text-decoration: none;
    border-color: transparent;
}

.btn:hover {
    background-color: #f2f2f2;
}

.spinner-color {
    color: #ff3366;
}
