<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>
<div class="configurations" *ngIf="!isLoading">
  <div class="page-header configurations--header">
    <div class="page-header--name mat-h2">
      Configurations
    </div>
  </div>
  <div class="page-info">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
      Please map the following Fyle entities to their Quickbooks equivalent. Read more. <mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <form class="configurations--form" [formGroup]="generalSettingsForm">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="configurations--label">
        Map Employees from Fyle to
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required>
        <mat-select placeholder="Choose QBO equivalent of Employees" formControlName="employees">
          <mat-option value="VENDOR">
            Vendor
          </mat-option>
          <mat-option value="EMPLOYEE">
            Employee
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="configurations--label">
        Map Reimbursible Expenses from Fyle to
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required>
        <mat-select placeholder="Choose QBO equivalent of Reimbursible Expenses" formControlName="reimburExpense">
          <mat-option *ngFor="let option of expenseOptions" [value]="option.value">
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="configurations--label">
        Map Corporate Credit Card Expenses from Fyle to
      </div>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-select placeholder="Choose QBO equivalent of Corporate Credit Card Expenses" formControlName="cccExpense">
          <mat-option>
            None
          </mat-option>
          <mat-option value="CREDIT CARD PURCHASE">
            Credit Card Purchases
          </mat-option>
          <mat-option value="JOURNAL ENTRY">
            Jounral Entries
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="configurations--label">
        Map Projects from Fyle to
      </div>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-select placeholder="Choose QBO equivalent of Projects" formControlName="projects">
          <mat-option>
            None
          </mat-option>
          <mat-option value="DEPARTMENT">
            Department
          </mat-option>
          <mat-option value="CLASS">
            Class
          </mat-option>
          <mat-option value="CUSTOMER">
            Customer
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="configurations--label">
        Map Cost Centers from Fyle to
      </div>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-select placeholder="Choose QBO equivalent of Cost Centers" formControlName="costCenters">
          <mat-option>
            None
          </mat-option>
          <mat-option value="DEPARTMENT">
            Department
          </mat-option>
          <mat-option value="CLASS">
            Class
          </mat-option>
          <mat-option value="CUSTOMER">
            Customer
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="configurations--errors" *ngIf="generalSettingsForm.errors">
        <div *ngFor="let error of generalSettingsForm.errors | keyvalue">
          <div *ngIf="error.key === 'projectCostCenterSame'">
            Projects and Cost Centers cannot have the same value
          </div>
        </div>
      </div>
      <button [disabled]="isSaveDisabled || !generalSettingsForm.valid" class="configurations--save-btn" mat-flat-button
        color="primary" (click)="save()" type="button">
        Save
      </button>
    </div>
  </form>
</div>