  .login {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
  
  button {
    background-color: #ff3366;
    color: #ffffff;
  }