<div class="content" *ngIf="!isLoading">
    <div class="schedule-content">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="bank-account">
                <label for="netsuiteSubsidiaries" class="d-flex">NetSuite Location</label>
                <select formControlName="netsuiteSubsidiaries" id="netsuiteSubsidiaries" class="form-control selectpicker col-4">
                    <option *ngFor="let bankAccount of netsuiteSubsidiaries; let i = index"
                        [selected]="netsuiteSubsidiaries[i].destination_id === subsidiaryMappings.internal_id" [value]="netsuiteSubsidiaries[i].destination_id">
                        {{netsuiteSubsidiaries[i].value}}
                    </option>
                </select>
            </div>

            <div class="text-danger mb-2" *ngIf="!subsidiaryIsValid">
                <small>
                    Location should not be empty
                </small>
            </div>

            <div class="save-schedule">
                <button class="main-btn btn save-btn" type="submit">Save</button>
            </div>

        </form>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
