<div class="configurations-dialog">
  <h2 mat-dialog-title>
    <div class="mappings-dialog--header" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="mat-title">
        Summary of Changes
      </div>
      <mat-icon class="mappings-dialog--close cursor-pointer" aria-hidden="false" aria-label="close this dialog" mat-dialog-close>close</mat-icon>
    </div>
  </h2>
  
  <mat-dialog-content>
    <div class="configurations-dialog--info-box" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="4">
        <mat-icon [inline]="true" class="configurations-dialog--info-icon">info</mat-icon>
      </div>
      <div fxFlex="96">
        The changes made will impact configurations in the general settings and the way the data is exported to Quickbooks Online.
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="40" class="configurations-dialog--heading">
        FYLE
      </div>
      <div fxFlex="60" class="configurations-dialog--heading">
        QUICKBOOKS ONLINE
      </div>
    </div>

    <div *ngIf="updatedConfiguration.employee">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="configurations-dialog--map">
        <div fxFlex="40" class="configurations-dialog--side-heading">
          Employees
        </div>
        <div fxFlex="60">
          <div fxFlex="45">
            <button mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn">{{getLabel(updatedConfiguration.employee.oldValue) | titlecase}}</button>
          </div>
          <div fxFlex="10" class="configurations-dialog--update-text">to</div>
          <div fxFlex="45">
            <button mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn-update">{{getLabel(updatedConfiguration.employee.newValue) | titlecase}}</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="updatedConfiguration.reimburseExpense">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="configurations-dialog--map">
        <div fxFlex="40" class="configurations-dialog--side-heading">
          Reimbursable Expenses
        </div>
        <div fxFlex="60">
          <div fxFlex="45">
            <button mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn">{{getLabel(updatedConfiguration.reimburseExpense.oldValue) | titlecase}}</button>
          </div>
          <div fxFlex="10" class="configurations-dialog--update-text">to</div>
          <div fxFlex="45">
            <button mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn-update">{{getLabel(updatedConfiguration.reimburseExpense.newValue) | titlecase}}</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="updatedConfiguration.cccExpense">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="configurations-dialog--map">
        <div fxFlex="40" class="configurations-dialog--side-heading">
          Corporate Credit Card Expenses
        </div>
        <div fxFlex="60">
          <div fxFlex="45">
            <button *ngIf="updatedConfiguration.cccExpense.oldValue" mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn">{{getLabel(updatedConfiguration.cccExpense.oldValue) | titlecase}}</button>
            <button *ngIf="!updatedConfiguration.cccExpense.oldValue" mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn">None</button>
          </div>
          <div fxFlex="10" class="configurations-dialog--update-text">to</div>
          <div fxFlex="45">
            <button *ngIf="updatedConfiguration.cccExpense.newValue" mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn-update">{{getLabel(updatedConfiguration.cccExpense.newValue) | titlecase}}</button>
            <button *ngIf="!updatedConfiguration.cccExpense.newValue" mat-stroked-button [autofocus]="false" [disableRipple]="true" class="configurations-dialog--btn-update">None</button>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button type="button" mat-flat-button mat-dialog-close>Cancel</button>
    <button class="mappings-dialog--save-btn" mat-flat-button color="primary" mat-dialog-close type="submit" (click)="submit()">
      Confirm
    </button>
  </mat-dialog-actions>
</div>
