<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="page-info">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
      <div>
        Please map the following Fyle fields to their Quickbooks equivalent.
      </div>
      <a href="https://www.fylehq.com/help/en/articles/4284108-configuring-mappings-for-the-fyle-quickbooks-online-integration"
        target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row"
        fxLayoutAlign="start stretch">Read
        more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
    </div>
  </div>
  <form class="configurations--form" [formGroup]="generalSettingsForm">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="configurations--label">
        Map Employees from Fyle to
        <mandatory-field></mandatory-field>
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required>
        <mat-select placeholder="Choose Quickbooks equivalent of Employees" formControlName="employees">
          <mat-option value="VENDOR">
            Vendor
          </mat-option>
          <mat-option value="EMPLOYEE">
            Employee
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="option" *ngIf="generalSettingsForm.controls.employees.touched && !generalSettingsForm.controls.employees.valid"></mandatory-error-message>

      <div class="configurations--label">
        Map reimbursable Expenses from Fyle to
        <mandatory-field></mandatory-field>
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required>
        <mat-select placeholder="Choose Quickbooks equivalent of Reimbursable Expenses"
          formControlName="reimburExpense">
          <mat-option *ngFor="let option of expenseOptions" [value]="option.value">
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="export type" *ngIf="generalSettingsForm.controls.reimburExpense.touched && !generalSettingsForm.controls.reimburExpense.valid"></mandatory-error-message>


      <div class="configurations--label">
        Map Corporate Credit Card Expenses from Fyle to
      </div>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-select placeholder="Choose Quickbooks equivalent of Corporate Credit Card Expenses"
          formControlName="cccExpense">
          <mat-option>
            None
          </mat-option>
          <mat-option value="BILL">
            Bill
          </mat-option>
          <mat-option value="CREDIT CARD PURCHASE">
            Credit Card Purchases
          </mat-option>
          <mat-option value="JOURNAL ENTRY">
            Journal Entries
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle *ngIf="showJeSingleCreditLine" color="primary" class="schedule" formControlName="jeSingleCreditLine">
        <div class="schedule--toggle-text">Create a single itemized offset credit entry for Journals</div>
      </mat-slide-toggle>

      <div class="configurations--label" *ngIf="showPaymentsField">
        Auto Sync Payments
        <mat-icon [inline]="true" class="info-icon" matTooltip="Sync payments between Fyle and Quickbooks" matTooltipPosition="after">info</mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="showPaymentsField">
        <mat-form-field floatLabel="always" appearance="outline" fxFlex="100">
          <mat-select placeholder="Choose Auto Sync Payments"
            formControlName="paymentsSync">
            <mat-option>
              None
            </mat-option>
            <mat-option [value]="'sync_fyle_to_qbo_payments'">
              Export Fyle ACH Payments to Quickbooks
            </mat-option>
            <mat-option [value]="'sync_qbo_to_fyle_payments'">
              Import Quickbooks Payments into Fyle
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="configurations--label">
        Auto Map Employees from Fyle
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field floatLabel="always" appearance="outline" fxFlex="100">
          <mat-select placeholder="Choose how to auto map employees between Fyle and Quickbooks Online"
            formControlName="autoMapEmployees">
            <mat-option>
              None
            </mat-option>
            <mat-option [value]="'NAME'">
              Match names on Fyle and Quickbooks Online
            </mat-option>
            <mat-option [value]="'EMAIL'">
              Match emails on Fyle and Quickbooks Online
            </mat-option>
            <mat-option [value]="'EMPLOYEE_CODE'">
              Match Fyle Employee Code to Quickbooks Online Name
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-slide-toggle color="primary" class="schedule" *ngIf="showAutoCreate" formControlName="autoCreateDestinationEntity">
        <div class="schedule--toggle-text">Auto Create Vendor on Quickbooks Online</div>
      </mat-slide-toggle>

      <mat-slide-toggle color="primary" class="schedule" formControlName="importCategories">
        <div class="schedule--toggle-text">Import Quickbooks Online Expense Accounts into Fyle</div>
      </mat-slide-toggle>

      <mat-slide-toggle color="primary" class="schedule" *ngIf="showImportProjects()" formControlName="importProjects">
        <div class="schedule--toggle-text">
          Import Quickbooks Online Projects / Customers into Fyle
          <mat-icon
            [inline]="true"
            class="info-icon"
            matTooltip="Projects / Customers will not be imported if count is more than 5000"
            matTooltipPosition="after">
              info
          </mat-icon>
        </div>
      </mat-slide-toggle>

      <button [disabled]="!generalSettingsForm.valid" class="configurations--save-btn" mat-flat-button
        color="primary" (click)="save()" type="submit">
        Save
      </button>
    </div>
  </form>
</div>