<div *ngIf="!isLoading">
  <div *ngIf="isConfigValueSet">
    <div class="page-header mappings--header">
      <div class="page-header--name mat-h2">
        Project Mappings
      </div>
    </div>
    <div class="page-info">
      <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
        Map project items from Fyle to their counterparts on Quickbooks Online. 
        <a href="https://www.fylehq.com/help/en/articles/4284108-configuring-mappings-for-the-fyle-quickbooks-online-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
      </div>
      <button class="page-info--primary-action" mat-flat-button color="primary" type="button" (click)="open()">
        Create Project Mapping
      </button>
    </div>

    <div *ngIf="!projectMappings.length && !isLoading">
      <zero-state message="You have no project mappings yet"></zero-state>
    </div>

    <div *ngIf="projectMappings.length" [hidden]="isLoading">
      <table mat-table [dataSource]="projectMappings" class="page-table">
        <ng-container matColumnDef="projects">
          <th mat-header-cell *matHeaderCellDef> Projects </th>
          <td mat-cell *matCellDef="let element">
            {{element.source.value}}
          </td>
        </ng-container>

        <ng-container matColumnDef="qbo">
          <th mat-header-cell *matHeaderCellDef>
            {{ generalSettings.project_field_mapping | titlecase}}
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.destination.value}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>
  <div *ngIf="!isConfigValueSet">
    <div class="page-header project-mappings--header">
      <div class="page-header--name mat-h2">
        Project Mappings
      </div>
    </div>
    <div class="page-info" fxLayoutAlign="center center">
      <zero-state message="Your projects arent enabled yet" link="Go to Configurations" (click)="goToConfigurations()">
      </zero-state>
    </div>
  </div>
</div>

<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>