<mat-sidenav-container class="qbo" autosize fxFlexFill *ngIf="!isLoading">
  <mat-sidenav class="qbo-sidenav" mode="side" opened>
    <mat-nav-list>
      <header matSubheader class="qbo-sidenav--header">
        <img alt="Fyle" src="../../assets/images/pngs/fyle-logo.png" class="qbo-sidenav--logo" />
      </header>

      <!-- <a class="mat-h2 qbo-sidenav--nav-item" mat-list-item routerLink="{{workspace.id}}/tasks/" routerLinkActive="active">
        Tasks
      </a> -->

      <a class="mat-h2 qbo-sidenav--nav-item" mat-list-item routerLink="{{workspace.id}}/dashboard" routerLinkActive="active">
        Dashboard
      </a>

      <a class="mat-h2 qbo-sidenav--nav-item" mat-list-item routerLink="{{workspace.id}}/sync_export/sync" routerLinkActive="active">
        Sync & Export
      </a>

      <a class="mat-h2 qbo-sidenav--nav-item" mat-list-item routerLink="{{workspace.id}}/expense_groups/" routerLinkActive="active">
        Expense Groups
      </a>

      <a class="mat-h2 qbo-sidenav--nav-item" mat-list-item routerLink="{{workspace.id}}/mappings/general/" routerLinkActive="active">
        Mappings
      </a>

      <a class="mat-h3 qbo-sidenav--nav-item" mat-list-item>
        Settings
      </a>
      <a class="mat-h3 qbo-sidenav--nav-sub-item" mat-list-item routerLink="{{workspace.id}}/settings/configurations/" routerLinkActive="active">
        Configurations
      </a>
      <a class="mat-h3 qbo-sidenav--nav-sub-item" mat-list-item routerLink="{{workspace.id}}/settings/general_mappings/" routerLinkActive="active">
        General Mappings
      </a>
      <a class="mat-h3 qbo-sidenav--nav-sub-item" mat-list-item routerLink="{{workspace.id}}/settings/employee_mappings/" routerLinkActive="active">
        Employee Mappings
      </a>
      <a class="mat-h3 qbo-sidenav--nav-sub-item" mat-list-item routerLink="{{workspace.id}}/settings/category_mappings/" routerLinkActive="active">
        Category Mappings
      </a>
      <a class="mat-h3 qbo-sidenav--nav-sub-item" mat-list-item routerLink="{{workspace.id}}/settings/project_mappings/" routerLinkActive="active">
        Project Mappings
      </a>
      <a class="mat-h3 qbo-sidenav--nav-sub-item" mat-list-item routerLink="{{workspace.id}}/settings/cost_center_mappings/" routerLinkActive="active">
        Cost Centre Mappings
      </a>
      <a class="mat-h3 qbo-sidenav--nav-sub-item" mat-list-item routerLink="{{workspace.id}}/settings/schedule/" routerLinkActive="active">
        Schedule
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="mat-small">
          Fyle Org Name: asdasdasd
        </div>
        <div class="mat-small">
          |
        </div>
        <div class="mat-small">
          QBO Company Name: qweqweqew
        </div>
      </div>

      <mat-menu #appMenu="matMenu">
        <button type="button" mat-menu-item *ngIf="orgsCount > 0" (click)="switchWorkspace()">
          <div fxLayoutAlign="space-around center">
            <strong>
              <p class="signout-text">Switch Org</p>
            </strong>
          </div>
        </button>
        <button type="button" mat-menu-item [routerLink]="['../auth/logout']">
          <div fxLayoutAlign="space-around center">
            <strong>
              <p class="signout-text">Signout</p>
            </strong>
          </div>
        </button>
      </mat-menu>

      <div [matMenuTriggerFor]="appMenu">
        <div fxLayoutAlign="space-around center">
          <i class="material-icons user-icon">account_circle</i>
          <div>
            <strong class="user-name">{{user.full_name}}</strong>
          </div>
          <i class="material-icons arrow-down">keyboard_arrow_down</i>
        </div>
      </div>

    </mat-toolbar>
    <div class="qbo-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div fxLayoutAlign="center center" fxFlexFill *ngIf="isLoading">
  <app-loader></app-loader>
</div>