<nav class="sub-navbar navbar fixed-top navbar-light d-flex flex-column">
  <div class="sub-navbar-heading">
    <a class="back-btn" href="{% url 'xero_workspace:expense_groups' workspace_id %}">
      <i class="material-icons">arrow_back</i>
    </a>
    <h1 class="navbar-brand">Tasks</h1>
  </div>
  <ul class="nav sub-nav-tabs d-flex flex-row tabSection">
    <li class="sub-nav-item">
      <a class="sub-nav-link active" href="{% url 'xero_workspace:tasks' workspace_id %}">All</a>
    </li>
    <li class="sub-nav-item">
      <a class="sub-nav-link" href="?state=complete">Complete</a>
    </li>
    <li class="sub-nav-item">
      <a class="sub-nav-link" href="?state=failed">Failed</a>
    </li>
  </ul>
</nav>
<div class="tabitem-content">
</div>