<nav class="sub-navbar navbar fixed-top navbar-light d-flex flex-column">
    <div class="sub-navbar-heading">
        <h1 class="navbar-brand">Bills</h1>
    </div>
    <ul class="nav sub-nav-tabs d-flex flex-row tabSection">
        <li class="sub-nav-item">
            <a class="sub-nav-link active">All</a>
        </li>
    </ul>
</nav>
<app-loader *ngIf="isLoading"></app-loader>
<div class="tabitem-content" *ngIf="!isLoading">
    <div class="d-flex content-header">
    </div>
    <div class="content">
        <div class="alert alert-light mx-auto warning" *ngIf="!bills.length">
            <p>Looks like you don't have any Bills</p>
        </div>
        <div class="table-layout" *ngIf="bills.length">
            <div class="table-responsive">
                <table class="table expense-groups-table">
                    <thead class="table-head">
                        <tr class="colHeadings">
                            <th style="width: 40%">Description</th>
                            <th>Exported on</th>
                            <th>Bill no.</th>
                            <th>Expense Group</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let bill of bills;">
                        <tr class="expense-groups-row">
                            <td>
                                {{bill.memo}}
                            </td>
                            <td>{{bill.created_at}}</td>
                            <td>{{bill.external_id}}</td>
                            <td>
                                <button class="btn" (click)="goToExpenseGroup(bill.expense_group)">
                                    <i class="material-icons">open_in_new</i>
                                </button>          
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="nav-pagination mb-auto" *ngIf="!isLoading && bills.length">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngIf="previousPageLink">
                        <a class="page-link" (click)="previousPage()">&laquo;</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">{{offset + 1}} - {{offset + bills.length}} of {{count}}</a>
                    </li>
                    <li class="page-item" *ngIf="nextPageLink">
                        <a class="page-link" (click)="nextPage()">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>