<div class="content" *ngIf="!isLoading">
    <div class="d-flex content-header">
        <button class="btn main-btn" type="button" (click)="open(content)">New
            Category Mapping
        </button>
    </div>
    <div class="alert alert-light mx-auto warning" *ngIf="!categoryMappings.length">
        <p>Looks like you don't have any category mappings</p>
    </div>
    <div class="table-layout" *ngIf="categoryMappings.length">
        <div class="table-responsive">
            <table class="table expense-groups-table">
                <thead class="table-head">
                    <tr class="colHeadings">
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody *ngFor="let categoryMapping of categoryMappings;">
                    <tr class="expense-groups-row">
                        <td>{{ categoryMapping.source.value }}</td>
                        <td>{{ categoryMapping.destination.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="categoryMappingModal">Create New Mapping</h5>
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close"
            (click)="clearModalValues()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body">
            <div class="floating-label">
                <input formControlName="fyleCategory" class="form-control" type="text" [ngbTypeahead]="categorySearch"
                    [inputFormatter]="categoryFormatter" [resultFormatter]="categoryFormatter" [editable]='false' />
                <label for="fyleCategories" class="input-label">Category</label>
                <div class="text-danger mb-2" *ngIf="!categoryIsValid">
                    <small>
                        category not found in Fyle
                    </small>
                </div>
            </div>
            <div class="floating-label">
                <input formControlName="netsuiteAccount" type="text" class="form-control" [ngbTypeahead]="accountSearch"
                    [inputFormatter]="accountFormatter" [resultFormatter]="accountFormatter" [editable]='false' />
                <label for="netsuiteAccounts" class="input-label">Account</label>
                <div class="text-danger mb-2" *ngIf="!accountIsValid">
                    <small>
                        account not found in NetSuite
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="cancel-btn" class="btn btnInline cancelBtn" type="button" data-dismiss="modal"
                (click)="clearModalValues()">Cancel</button>
            <button id="submit-btn" class="btn btnInline saveBtn" type="submit" name="method">Create</button>
        </div>
    </form>
</ng-template>

<app-loader *ngIf="isLoading"></app-loader>