<h2 mat-dialog-title>
  <div class="dialog--header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="mat-title">
      Configure Expense Groups
    </div>
    <div>
      <mat-icon class="mappings-dialog--close cursor-pointer" aria-hidden="false" aria-label="close this dialog" mat-dialog-close>close</mat-icon>
    </div>
  </div>
</h2>
<form *ngIf="!isLoading" class="dialog--form" [formGroup]="importExpensesForm">
<mat-dialog-content>
  <div fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
    <app-loader></app-loader>
  </div>
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="dialog--label">
        Group Expenses by:
      </div>
        <div>
          <div class="dialog--group-label-left" *ngIf="showCCCGroups()">
            Reimbursable Expenses
          </div>
          <div class="dialog--group-label-right" *ngIf="showCCCGroups()">
            Credit Card Expenses
          </div>
        </div>

      <div>
        <mat-form-field floatLabel="always" appearance="outline" required [ngClass]="showCCCGroups()?'dialog--group-field-left':'dialog--group-field'">
          <mat-select placeholder="Choose Expense fields to group Expenses"
            formControlName="reimbursibleExpenseGroupConfiguration">
            <mat-option value="claim_number">
              Expense Report
            </mat-option>
            <mat-option value="settlement_id">
              Payment
            </mat-option>
            <mat-option value="expense_id">
              Expense
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always" class="dialog--group-field-right" appearance="outline" *ngIf="showCCCGroups()" required>
          <mat-select placeholder="Choose Expense fields to group Expenses"
            formControlName="cccExpenseGroupConfiguration" *ngIf="showCCCGroups()">
            <mat-option value="claim_number">
              Expense Report
            </mat-option>
            <mat-option value="settlement_id">
              Payment
            </mat-option>
            <mat-option value="expense_id">
              Expense
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dialog--label">
        Date when Exporting Expenses to QuickBooks Online:
      </div>
        <div>
          <div class="dialog--group-label-left" *ngIf="showCCCGroups()">
            Reimbursable Expenses
          </div>
          <div class="dialog--group-label-right" *ngIf="showCCCGroups()">
            Credit Card Expenses
          </div>
        </div>

      <div>
        <mat-form-field floatLabel="always" class="dialog--group-field-left" appearance="outline" [ngClass]="showCCCGroups()?'dialog--group-field-left':'dialog--group-field'">
          <mat-select placeholder="Choose Date when Exporting Expenses" formControlName="reimbursableExportDate">
            <mat-option value="current_date">
              Current Date
            </mat-option>
            <mat-option value="verified_at">
              Verification Date
            </mat-option>
            <mat-option value="spent_at">
              Spend Date
            </mat-option>
            <mat-option value="approved_at">
              Approval Date
            </mat-option>
            <mat-option value="last_spent_at">
              Last Spend Date
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always" class="dialog--group-field-right" appearance="outline" *ngIf="showCCCGroups()">
          <mat-select placeholder="Choose Date when Exporting Expenses" formControlName="cccExportDate" *ngIf="showCCCGroups()">
            <mat-option value="current_date">
              Current Date
            </mat-option>
            <mat-option value="verified_at">
              Verification Date
            </mat-option>
            <mat-option value="spent_at">
              Spend Date
            </mat-option>
            <mat-option value="approved_at">
              Approval Date
            </mat-option>
            <mat-option value="last_spent_at">
              Last Spend Date
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dialog--label">
        Import Expenses in State:
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required [ngClass]="showCCCGroups()?'dialog--group-field-left':'dialog--group-field'">
        <mat-select placeholder="Choose State of Expenses to be fetched" formControlName="expenseState">
          <mat-option value="PAYMENT_PROCESSING">
            Payment Processing
          </mat-option>
          <mat-option value="PAID">
            Paid
          </mat-option>
        </mat-select>
        <mat-error class="dialog--error" *ngIf="importExpensesForm.controls.expenseState.errors?.required">
          Please select atleast 1 state
        </mat-error>
      </mat-form-field>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-flat-button mat-dialog-close>Cancel</button>
  <button class="dialog--save-btn" [disabled]='importExpensesForm.controls.expenseState.errors?.required' mat-flat-button color="primary" type="submit" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
</form>