.rounded-pill.complete {
    background-color: rgb(34, 175, 34);
    padding: 4px;
    color: #fff;
    text-align: center;
    width: 125px;
}

.rounded-pill.ready {
    background-color: rgb(168, 166, 5);
    padding: 4px;
    color: #fff;
    text-align: center;
    width: 125px;
}