<div class="content" *ngIf="!isLoading">
    <div class="d-flex content-header">
        <button class="btn main-btn" type="button" (click)="open(content)">New Employee
            Mapping
        </button>
    </div>
    <div class="alert alert-light mx-auto warning" *ngIf="!employeeMappings.length">
        <p>Looks like you don't have any employee mappings</p>
    </div>
    <div class="table-layout" *ngIf="employeeMappings.length">
        <div class="table-responsive">
            <table class="table expense-groups-table">
                <thead class="table-head">
                    <tr class="colHeadings">
                        <th>Employee Email</th>
                        <th>Vendor Name</th>
                    </tr>
                </thead>
                <tbody *ngFor="let employeeMapping of employeeMappings;">
                    <tr class="expense-groups-row">
                        <td>
                            {{ employeeMapping.source.value }}
                        </td>
                        <td>
                            {{ employeeMapping.destination.value }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="employeeMappingModalTitle">Create New Mapping</h5>
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close"
            (click)="clearModalValues()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body">
            <div class="floating-label">
                <input formControlName="fyleEmployee" class="form-control" type="text" [ngbTypeahead]="emailSearch"
                    [inputFormatter]="emailFormatter" [resultFormatter]="emailFormatter" [editable]='false' />
                <label for="fyleEmployees" class="input-label">Email</label>
                <div class="text-danger mb-2" *ngIf="!emailIsValid">
                    <small>
                        email not found in Fyle
                    </small>
                </div>
            </div>
            <div class="floating-label">
                <input formControlName="netsuiteVendor" type="text" class="form-control" [ngbTypeahead]="vendorSearch"
                    [inputFormatter]="vendorFormatter" [resultFormatter]="vendorFormatter" [editable]='false' />
                <label for="netsuiteVendors" class="input-label">Vendor</label>
                <div class="text-danger mb-2" *ngIf="!vendorIsValid">
                    <small>
                        vendor not found in NetSuite
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="cancel-btn" class="btn btnInline cancelBtn" type="button" data-dismiss="modal"
                (click)="clearModalValues()">Cancel</button>
            <button id="submit-btn" class="btn btnInline saveBtn" type="submit" name="method">Create</button>
        </div>
    </form>
</ng-template>

<app-loader *ngIf="isLoading"></app-loader>