<nav class="sub-navbar navbar fixed-top navbar-light d-flex flex-column">
    <div class="sub-navbar-heading">
        <h1 class="navbar-brand">Expense Groups</h1>
    </div>
    <ul class="nav sub-nav-tabs d-flex flex-row tabSection">
        <li class="sub-nav-item">
            <a class="sub-nav-link {{ready}}" (click)="changeState('READY')">Ready</a>
        </li>
        <li class="sub-nav-item">
            <a class="sub-nav-link {{complete}}" (click)="changeState('COMPLETE')">Complete</a>
        </li>
        <li class="sub-nav-item">
            <a class="sub-nav-link {{all}}" (click)="changeState('ALL')">All</a>
        </li>
    </ul>
</nav>
<app-loader *ngIf="isLoading"></app-loader>
<div class="tabitem-content" *ngIf="!isLoading">
    <div class="d-flex content-header">
        <button class="btn main-btn sync-btn" (click)="syncExpenseGroups()">Sync Expense Groups</button>
        <button class="main-btn-outline delete-btn ml-3" type="submit" form="delete-form" name="method" value="delete"
            (click)="createBills()" *ngIf="selectedGroups.length">Export Expense Groups
        </button>
    </div>
    <div class="content">
        <div class="alert alert-light mx-auto warning" *ngIf="!expenseGroups.length">
            <p>Looks like you don't have any Expense Groups</p>
        </div>
        <div class="table-layout" *ngIf="expenseGroups.length">
            <div class="table-responsive">
                <table class="table expense-groups-table">
                    <thead class="table-head">
                        <tr class="colHeadings">
                            <th style="width: 10%">
                                <label class="checkbox-label">
                                    <input type="checkbox" id="select-all" [(ngModel)]="allSelected"
                                        (change)=toggleSelectAll() />
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                            <th style="width: 30%">Description</th>
                            <th *ngIf="state !== 'ALL'">Status</th>
                            <th>Employee</th>
                            <th>Claim No.</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let expenseGroup of expenseGroups;">
                        <tr class="expense-groups-row">
                            <td>
                                <label class="checkbox-label">
                                    <input type="checkbox" (change)=onSelect() class="expenseCheckbox"
                                        name="expense_group_ids" value="{{expenseGroup.id}}"
                                        [(ngModel)]="expenseGroup.selected">
                                    <span id="checkmark" class="checkmark"></span>
                                </label>
                            </td>
                            <td>
                                Grouped by {{expenseGroup.fyle_group_id}}
                            </td>
                            <td *ngIf="state === 'COMPLETE'">Complete</td>
                            <td *ngIf="state === 'READY'">Ready</td>
                            <td>{{expenseGroup.description.employee_email}}</td>
                            <td>{{expenseGroup.description.claim_number}}</td>
                            <td>
                                <button class="btn" (click)="goToExpenseGroup(expenseGroup.id)">
                                    <i class="material-icons">open_in_new</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="nav-pagination" *ngIf="expenseGroups.length">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngIf="previousPageLink">
                        <a class="page-link" (click)="previousPage()">&laquo;</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">{{offset + 1}} - {{offset + expenseGroups.length}} of {{count}}</a>
                    </li>
                    <li class="page-item" *ngIf="nextPageLink">
                        <a class="page-link" (click)="nextPage()">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>