<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>

<div class="general-mappings" *ngIf="!isLoading">
  <div class="page-header general-mappings--header">
    <div class="page-header--name mat-h2">
      General Mappings
    </div>
  </div>
  <div class="page-info">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
      Please select Fyle fields to be mapped to Quickbooks online field. Read more.<mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <form class="general-mappings--form" [formGroup]="form" (ngSubmit)="submit()">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="mat-body-strong" *ngIf="generalSettings.employee_field_mapping === 'VENDOR'">
        Accounts Payable
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required
        *ngIf="generalSettings.employee_field_mapping === 'VENDOR'">
        <mat-select class="general-mappings--input" placeholder="select accounts" formControlName="accountPayableAccounts">
          <mat-option *ngFor="let accountPayableAccount of accountPayableAccounts; let i = index"
            [value]="accountPayableAccounts[i].destination_id">
            {{accountPayableAccounts[i].value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mat-body-strong" *ngIf="generalSettings.employee_field_mapping === 'EMPLOYEE'">
        Bank Account
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required
        *ngIf="generalSettings.employee_field_mapping === 'EMPLOYEE'">
        <mat-select class="general-mappings--input" placeholder="select bank account" formControlName="bankAccounts">
          <mat-option *ngFor="let bankAccount of bankAccounts; let i = index" [value]="bankAccounts[i].destination_id">
            {{bankAccounts[i].value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mat-body-strong" *ngIf="generalSettings.corporate_credit_card_expenses_object">
        Default Corporate Credit Card Account
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required
        *ngIf="generalSettings.corporate_credit_card_expenses_object">
        <mat-select class="general-mappings--input" placeholder="select credit card account" formControlName="cccAccounts">
          <mat-option *ngFor="let cccAccount of cccAccounts; let i = index" [value]="cccAccounts[i].destination_id">
            {{cccAccounts[i].value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button class="configurations--save-btn" mat-flat-button color="primary" (click)="submit()" type="button">
      Save
    </button>
  </form>
</div>