@import 'variables.scss';

.cateogry-mappings {
    &--header {
        color: $fy-nav-text;
    }

    &--form {
        color: $fy-nav-text;
        font-size: 12px;
    }
    &--save-btn {
        background: $fy-primary;
        color: $fy-white;
    }
}
