<div *ngIf="!isLoading">
  <div>
    <div class="page-header mappings--header">
      <div class="page-header--name mat-h2">
        {{ getTitle(sourceField) | titlecase }} Mappings
      </div>
    </div>
    <div class="page-info">
      <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
        Map {{ getTitle(sourceField).toLowerCase() }} items from Fyle to their counterparts on Quickbooks Online. <a href="https://www.fylehq.com/help/en/articles/4284108-configuring-mappings-for-the-fyle-quickbooks-online-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
      </div>
      <button class="page-info--primary-action" mat-flat-button color="primary" type="button" (click)="open()">
        New {{ getTitle(sourceField) | titlecase }} Mapping
      </button>
      <mat-form-field class="simple-search" appearance="outline" *ngIf="count">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)">
        <span matPrefix>
          <mat-icon class="simple-search--icon" aria-hidden="false" aria-label="Search">search </mat-icon>
        </span>
      </mat-form-field>
    </div>

    <div *ngIf="!count">
      <zero-state message="You have no {{ getTitle(sourceField).toLowerCase() }} mappings yet"></zero-state>
    </div>

    <div *ngIf="count" [hidden]="isLoading || !mappings.filteredData.length">
      <table mat-table [dataSource]="mappings" class="page-table" matSort matSortActive="created_at"
        matSortDisableClear matSortDirection="desc">
        <ng-container matColumnDef="sourceField">
          <th mat-header-cell *matHeaderCellDef> {{ getTitle(sourceField) | titlecase }} </th>
          <td mat-cell *matCellDef="let element">
            {{element.source.value}}
            <mat-icon class="auto-map" [inline]="true" matTooltip="Auto mapped row from Fyle and Quickbooks Online" matTooltipPosition="after" *ngIf="element.source.auto_mapped">bolt</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="destinationField">
          <th mat-header-cell *matHeaderCellDef>
            Quickbooks {{ setting.destination_field.replace('_', ' ') | titlecase }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.destination.value}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="open(row)"></tr>
      </table>
    </div>
    <zero-state *ngIf="!mappings.filteredData.length && count" message="Looks like your search term does not match any {{ getTitle(sourceField).toLowerCase() }}"></zero-state>
  </div>
</div>
<app-paginator *ngIf="count" [hidden]="!mappings.filteredData.length" [is3D]="false" (getMappings)="getMappings($event)" [count]="count" [isLoading]="isLoading"></app-paginator>
<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>
