:root {
    --lightGrey: #f2f2f2;
    --primaryColor: #ff3366;
    --secondaryColor: #ff0040;
    --tertiaryColor: #f5003d;
    --white: #fff;
    --darkGrey: #464d57;
    --pageBackground: #fafafa;
    --lightGreen: #50e3c2;
    --red: #db0000;
    --fontGrey: #4a4a4a;
    --fontDarkGrey: #4a4a4a;
    --mainHeading: #333333;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  
  html, body {
    height: 100%;
    position: relative;
  }
  
  button {
    cursor: pointer;
    margin: 0;
  }
  
  a, a:hover {
    color: #4a4a4a;
    text-decoration: none;
  }
  
  .navbar{
    border-bottom: 1px solid #f2f2f2;
    background-color: #ffffff;
    padding: 8px 20px;
  }
  
  .sub-navbar {
    border-bottom: 1px solid #f2f2f2;
    background-color: #ffffff;
    padding: 0px 20px;
  }
  
  .fixed-top {
    position: relative;
    z-index: auto;
  }
  
  .user-profile {
    border: 0;
    background: transparent;
  }
  
  .user-details {
    align-items: center;
  }
  
  .user-icon {
    padding-right: 10px;
    font-size: 34px;
    color: #4a4a4a;
  }
  
  .arrow-down {
    margin-left: 10px;
  }
  
  .user-name {
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .org-name {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
  }
  
  .main-layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  
  .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .workspace-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .profile-username {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    word-wrap: break-word;
    padding-bottom: 3px;
  }
  
  .profile-organizationName {
    margin: 0;
    font-size: 14px;
    color: #4a4a4a;
    padding-bottom: 14px;
  }
  
  .signoutBtn {
    border-top: 1px solid #f2f2f2 !important;
    text-align:center;
    padding:8px 16px;
    border:none;
    background-color: #ffffff;
  }
  .signoutBtn:hover {
    background-color: rgba(158,158,158,0.2) !important;
  }
  
  .signoutBtn:hover .signout-text {
    color: #db0000;
  }
  
  .signoutBtn:hover .icon {
    color: #db0000;
  }
  
  [data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:40px;
    width:80px;
    height:80px;
    line-height:2em;
    text-align:center;
    background: #50e3c2;
    vertical-align:middle;
    margin-right:1em;
    color: #ffffff;
    }
  
  button:focus{
    outline: 0px;
  }
  
  .btn.focus, .btn:focus {
    box-shadow: none;
  }
  
  .btn:disabled, .btn:disabled:hover {
      cursor: default;
      background-color: #ff3366;
      border-color: #ff3366;
      opacity: 0.65;
  }
  
  .profile-content {
    width:200px;
    position:absolute;
    left: auto;
    right: 0;
    padding:0px;
    padding-top:5px;
  }
  
  .icon {
    font-size: 21px;
    margin-top: 2px;
    color: #4a4a4a;
  }
  
  .main-btn {
    background-color: #ff3366;
    border-color: #ff3366;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    padding: 10px 18px;
    font-size: 12px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    vertical-align: middle;
  }
  
  .main-btn:hover {
      color: #ffffff;
      background-color: #ff0040;
      border-color: #f5003d;
  }
  
  .main-btn-outline {
    background-color: transparent;
    border: 1px solid #ff3366;
    color: #ff3366;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    padding: 10px 18px;
    font-size: 12px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    vertical-align: middle;
  }
  
  .main-btn-outline:hover {
      color: #ffffff;
      background-color: #ff3366;
      border-color: #ff3366;
  }
  
  @media only screen and (max-width: 768px) { 
    .profile-content {
      width:300px;
      position:absolute;
      left: auto;
      right: auto;
      padding:0px;
      padding-top:10px;
    }
  }
  
  .floating-label {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    margin-top: 2%;
    border: 0;
    outline: 0;
    padding: 5px;
    border-bottom: 1px solid #4a4a4a;
    box-shadow: none;
    color: #111;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-bottom: 2px solid #ff3366;
  }
  
  .input-label {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 16px;
    transition: 0.2s ease all;
  }
  
  input:focus ~ label, input:not(:placeholder-shown) ~ label {
    top: -5px;
    font-size: 11px;
    color: #ff3366;
  }
  
  .navbar-light
  .navbar-brand {
    color: #333333;
    padding-left: 5px;
  }
  
  .sub-navbar-heading {
    width: 100%;
  }
  
  .checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  .checkbox-label input:checked ~ .checkmark {
    background-color: #ff3366;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .warning {
    margin-top: 3%;
    text-align: center;
    width: 50%;
    margin-bottom: 5px;
  }
  
  .alert-link, .alert-link:hover {
    text-decoration: underline;
  }
  
  .nav-tabs {
      background-color: #ffffff;
  }
  
  .navTabsUl {
    height: 100%;
    width: 22%;
    position: relative;
    background-color: #280831;
    top: 0;
  }
  
  .nav-tabs .nav-item, .nav-link  {
      color: #ffffff !important;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      border: none;
      border-bottom: 2px solid #ff3366 !important;
      color: #ff3366 !important;
      font-size: 14px;
      background-color: #ffffff;
  }
  
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
      font-size: 14px;
      color: #ff3366 !important;
      text-decoration: none;
      border-color: transparent;
  }

  .sidebar {
    height: 100vh;
  }
  
  .tabitem {
    padding: 25px;
    padding-left: 28px;
  }
  
  .tabitem:hover {
    background: rgba(158,158,158,0.2);
    width: 100% !important
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff !important;
    background: #d64d4d2b;
  }
  
  .nav-pills .nav-link {
    border-radius: 0;
  }
  
  .sidenav-header {
    position: relative;
    padding: 24px;
  }
  
  .site-logo {
    position: relative;
  }
  
  .fyle-logo{
      max-width: 100px;
      min-height: 32px;
  }
  
  .bottomTabItems {
    width: 100%;
    bottom: 0;
    position: fixed;
    width: 15%;
  }
  
  .tabitem-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 16px;
  }
  
  .cardMainText {
    color: #333333;
    font-size: 18px;
  }
  
  .content {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    padding: 10px;
    border-radius: 6px;
    overflow: auto;
    height: 440px;
  }
  
  .content-header {
    padding: 10px;
  }
  
  a {
    cursor: pointer;
  }
  
  .message-overall {
    top: 8px;
    z-index: -1;
    margin: 0;
    position: fixed;
  }
  
  .msg {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  
  .alert-dismissible .close {
      padding: .65rem 1.25rem;
  }
  
  .signout-text {
    margin-bottom: 0;
    margin-left: 8px;
    color: #4a4a4a;
  }
  
  .signout-layout {
    justify-content: center;
  }
  
  .sub-nav-tabs {
      background-color: #ffffff;
      width: 100%;
  }
  
  .sub-nav-tabs .sub-nav-item, .sub-nav-link  {
      color: #4a4a4a !important;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
  }
  
  .sub-nav-link {
      padding: 8px 16px 8px;
  }
  
  .sub-nav-item {
      padding: 8px 16px 8px 0px;
  }

  .back-btn {
    vertical-align: middle;
  }

  body {
    background-color: #fafafa;
  }
  .center-div {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .modal-footer {
    justify-content: center;
    padding: 0;
  }
  
  .modal-footer>:not(:last-child) {
    margin-right: 0;
    border-radius: 0;
    background: #ffffff;
    border-right: 1px solid #f2f2f2;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: 0;
    border-radius: 0;
    background: #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  
  .modal-body {
    padding: 15px 15px 20px;
  }
  
  .btnInline {
    width: 50%;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .cancelBtn:hover {
    background-color: #464d57;
    color: #ffffff;
  }
  
  .modal-title {
    font-size: 18px;
  }
  
  .modal-content {
    width: 80%;
    height: 50%;
  }

  .table-layout {
    margin: 10px;
  }
  
  td:hover {
    cursor: pointer;
  }
  
  .table-head {
    background-color: #f2f2f2;
    text-transform: uppercase;
  }
  
  .actions {
    text-align: center;
  }
  
  .colHeadings {
    font-size: 14px;
  }
  
  .trStyles {
    border-bottom: 1px solid #d4d4d4;;
  }
  
  .trStyles:hover {
    background-color: none !important;
  }
  
  th {
    color: #464d57 !important;
    vertical-align: middle !important;
  }
  
  .page-item.active .page-link {
      z-index: 0;
      color: #fff;
      background-color: #ff3366;
      border-color: #ff3366;
  }
  
  .page-link {
    color: #ff3366;
  }
  
  .page-link:focus {
      z-index: 0;
      outline: 0;
      box-shadow: none;
  }
  
  .page-item.disabled .page-link {
      color: #ff3366;
      pointer-events: none;
      cursor: auto;
      background-color: #fff;
      border-color: #dee2e6;
  }
  
  .page-link:hover {
      z-index: 0;
      color: #ff3366;
      background-color: #f2f2f2;
  }
  
  .fixed-bottom {
      position: absolute;
  }
  
  .table {
      margin-bottom: 0;
  }
  
  .table th {
      border-top: None;
  }
  
  /* .table-responsive {
      position: relative;
  } */
  
  .nav-pagination {
      width: 100%;
      display: flex;
      flex-direction: column;
      bottom: 0;
      position: absolute;
      margin-bottom: 1%;
  }
  
  ul.pagination {
      margin-bottom: 5;
  }
  
  .highlight {
      background-color: rgb(255, 0, 0, 0.2);
  }
  
  .checkbox-error {
      display: flex;
      justify-content: space-between;
  }
  
  .error-icon {
      color: #ff3366;
      font-size: 20px;
  }
  

  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 60%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right.fade .modal-dialog {
    right: 0;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-dialog {
    max-width: 80%;
}

.modal-header {
    align-items: baseline;
    border-bottom: 2px solid #e9ecef;
    justify-content: flex-start;
}

.modal-header .close {
    margin: -1rem;
}

.modal-title {
    margin-left: 3%;
}

.expenses-table {
    width: 75%;
    margin: 4% auto 0;
}

.expenses-table td:nth-child(2) {
    text-align: center;
}

.employee-email {
    font-size: 18px;
    font-weight: 400;
}

.expense-details .employee-email {
    margin-left: 37px;
    font-size: 25px;
    font-weight: 400;
}

.view-invoice, .view-invoice:hover {
    text-decoration: underline;
    color: #212529;
    cursor: pointer;
    margin-bottom: 0;
}

.no-invoice {
    margin-bottom: 0;
}

 .resync-btn {
    width: 10%;
}

.expenses-link, .expenses-link:hover {
    color: rgba(0, 0, 0, 0.87);
}

.expense-groups-table td:hover {
    cursor: pointer;
}

.back-btn {
    vertical-align: middle;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px #ffffff, 0 0 8px #ffffff;
}

.disabled {
  text-decoration:none;
  cursor:default;
  color:grey;
  pointer-events:none;
}