<div class="content" *ngIf="!isLoading">
    <div class="schedule-content">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <label for="bankAccounts" class="d-flex">Bank Account</label>
            <select formControlName="bankAccounts" id="bankAccounts" class="form-control selectpicker col-4">
                <option *ngFor="let bankAccount of bankAccounts; let i = index"
                    [selected]="bankAccounts[i].Id === generalMappings.bank_account_id" [value]="bankAccounts[i].Id">
                    {{bankAccounts[i].Name}}
                </option>
            </select>

            <div class="save-schedule">
                <button class="main-btn btn save-btn" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>