<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
    <app-loader></app-loader>
</div>

<div *ngIf="currentState !== allOnboardingStates.isOnboarded && !isLoading"
    class="onboarding-stepper onboarding-stepper--container" fxLayout="column" fxLayoutAlign="start center">
    <h1 class="text-center">Welcome to Fyle-QBO app for Quickbooks Integrations</h1>
    <div fxLayout="row" fxLayoutAlign="center center">
        <img src="../../../assets/images/pngs/fyle-logo.png" alt="fyle">
        <mat-icon>add</mat-icon>
        <img src="../../../assets/images/pngs/qbo-logo.png" alt="qbo">
    </div>
    <div>
        Let's get you on board with a few quick steps!
    </div>
    <div>
        <mat-vertical-stepper class="onboarding-stepper--stepper" [disableRipple]="rippleDisabled" [linear]="linearMode"
            #stepper>
            <mat-step [completed]="false">
                <ng-template matStepLabel>
                    <div class="onboarding-stepper--step-header">
                        Connect to your Fyle & QBO accounts
                    </div>
                </ng-template>
                <div class="onboarding-stepper--step" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="onboarding-stepper--check"
                            [ngClass]="{'onboarding-stepper--check__complete': currentState === allOnboardingStates.fyleConnected || currentState === allOnboardingStates.qboConnected || currentState === allOnboardingStates.configurationsDone || currentState === allOnboardingStates.generalMappingsDone || currentState === allOnboardingStates.employeeMappingsDone}">
                            check_circle</mat-icon>
                        <div class="onboarding-stepper--desc">Connect to Fyle Account</div>
                    </div>
                    <div class="onboarding-stepper--navigation" (click)="connectFyle()"
                        [ngClass]="{'onboarding-stepper--navigation__active': currentState === allOnboardingStates.initialized}">
                        Connect Fyle
                    </div>
                </div>
                <div class="onboarding-stepper--step" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="onboarding-stepper--check"
                            [ngClass]="{'onboarding-stepper--check__complete': currentState === allOnboardingStates.qboConnected || currentState === allOnboardingStates.configurationsDone || currentState === allOnboardingStates.generalMappingsDone || currentState === allOnboardingStates.employeeMappingsDone}">
                            check_circle</mat-icon>
                        <div class="onboarding-stepper--desc">Connect to QBO Account</div>
                    </div>
                    <div (click)="connectQBO()" class="onboarding-stepper--navigation"
                        [ngClass]="{'onboarding-stepper--navigation__active': currentState === allOnboardingStates.fyleConnected}">
                        Connect Quickbooks
                    </div>
                </div>
            </mat-step>
            <mat-step [completed]="false">
                <ng-template matStepLabel>
                    <div class="onboarding-stepper--step-header">
                        Configure Fyle-QBO app
                    </div>
                </ng-template>
                <div class="onboarding-stepper--step" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="onboarding-stepper--check"
                            [ngClass]="{'onboarding-stepper--check__complete': currentState === allOnboardingStates.configurationsDone || currentState === allOnboardingStates.generalMappingsDone || currentState === allOnboardingStates.employeeMappingsDone}">
                            check_circle</mat-icon>
                        <div class="onboarding-stepper--desc">Map Fyle fields to QBO online fields</div>
                    </div>
                    <div routerLink="../settings/configurations/" class="onboarding-stepper--navigation"
                        [ngClass]="{'onboarding-stepper--navigation__active': currentState === allOnboardingStates.qboConnected}">
                        Go to Configurations
                    </div>
                </div>
            </mat-step>
            <mat-step [completed]="false">
                <ng-template matStepLabel>
                    <div class="onboarding-stepper--step-header">
                        Map Fyle fields to QBO
                    </div>
                </ng-template>
                <div class="onboarding-stepper--step" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="onboarding-stepper--check"
                            [ngClass]="{'onboarding-stepper--check__complete': currentState === allOnboardingStates.generalMappingsDone || currentState === allOnboardingStates.employeeMappingsDone}">
                            check_circle</mat-icon>
                        <div class="onboarding-stepper--desc">Map expense fields</div>
                    </div>
                    <div routerLink="../settings/general_mappings/" class="onboarding-stepper--navigation"
                        [ngClass]="{'onboarding-stepper--navigation__active': currentState === allOnboardingStates.configurationsDone}">
                        Go to General Mappings
                    </div>
                </div>
                <div class="onboarding-stepper--step" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="onboarding-stepper--check"
                            [ngClass]="{'onboarding-stepper--check__complete': currentState === allOnboardingStates.employeeMappingsDone}">
                            check_circle</mat-icon>
                        <div class="onboarding-stepper--desc">Map employee fields</div>
                    </div>
                    <div routerLink="../settings/employee_mappings/" class="onboarding-stepper--navigation"
                        [ngClass]="{'onboarding-stepper--navigation__active': currentState === allOnboardingStates.generalMappingsDone}">
                        Go to Employee Mappings
                    </div>
                </div>
                <div class="onboarding-stepper--step" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="onboarding-stepper--check">check_circle</mat-icon>
                        <div class="onboarding-stepper--desc">Map category fields</div>
                    </div>
                    <div routerLink="../settings/category_mappings/" class="onboarding-stepper--navigation"
                        [ngClass]="{'onboarding-stepper--navigation__active': currentState === allOnboardingStates.employeeMappingsDone}">
                        Go to Category Mappings
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>

<div class="dashboard" *ngIf="currentState === allOnboardingStates.isOnboarded && !isLoading">
    <h1 class="dashboard--header">
        Dashboard
    </h1>
    <div fxLayout="row">
        <div class="dashboard--actions" fxLayout="column" fxLayoutAlign="start center">
            <mat-card class="dashboard--actions-card mat-elevation-z2">
                <div class="dashboard--actions-content" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="dashboard--actions-header">
                        <span *ngIf="successfulExpenseGroupsCount > 0">
                            Import Expenses from Fyle
                        </span>
                        <span *ngIf="successfulExpenseGroupsCount === 0">
                            Start by importing expense from Fyle
                        </span>
                    </div>
                    <div class="dashboard--actions-action" fxLayout="row" fxLayoutAlign="start center" routerLink="../sync_export/sync/">
                        <div>
                            Import Now
                        </div>
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </div>
                </div>
            </mat-card>

            <mat-card class="dashboard--actions-card mat-elevation-z2">
                <div class="dashboard--actions-content" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="dashboard--actions-header">
                        Export Expenses to QBO
                    </div>
                    <div class="dashboard--actions-action" fxLayout="row" fxLayoutAlign="start center" routerLink="../sync_export/export/">
                        <div>
                            Export Now
                        </div>
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </div>
                </div>
            </mat-card>
            <div class="schedule">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="schedule--info-icon">
                        info
                    </mat-icon>
                    <div>
                        You can also create an automated schedule to import and export your expenses.
                    </div>
                </div>
                <div class="schedule--redirect" fxLayout="row" fxLayoutAlign="start center">
                    <div>
                        Go to Automated Schedules
                    </div>
                    <mat-icon class="schedule--redirect-icon" routerLink="../settings/schedule">
                        open_in_new
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="dashboard--stats" fxLayout="row" fxLayoutAlign="center">
            <mat-card class="dashboard--stats-card">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <mat-icon class="dashboard--stats-card-icon" mat-list-icon>publish</mat-icon>
                        <div mat-line>{{successfulExpenseGroupsCount}}</div>
                        <div mat-line> No. of successful exports</div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-icon class="dashboard--stats-card-icon" mat-list-icon>info</mat-icon>
                        <div mat-line>{{failedExpenseGroupsCount}}</div>
                        <div mat-line> No. of successful exports</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </div>
</div>