/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "~@angular/material/theming";
@include mat-core();
@import "./assets/stylesheets/fy-theme.scss";

html,
body {
  height: 100%;
}

.fy-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($fy-theme);  
}
 
// some issue is there with mat select options going transparent
.mat-select-panel {
  background: #fff;
}

.mat-option:hover {
  background: #0000000a;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.mat-dialog-container {
  background-color: var(--fy-background);
  border-radius: 4px;
}