/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "~@angular/material/theming";
@include mat-core();
@import "./assets/stylesheets/fy-theme.scss";

html,
body {
  height: 100%;
}

@include angular-material-theme($fy-theme);  
 
// some issue is there with mat select options going transparent
.mat-select-panel {
  background: #fff;
}

.mat-option:hover {
  background: #0000000a;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.mat-dialog-container {
  background-color: var(--fy-background);
  border-radius: 4px;
}

.mat-autocomplete-panel {
  background-color: #fff;
  border: 1px solid #d3d3d373;
}

.onboarding-stepper {
  .mat-vertical-stepper-content { 
    visibility: visible !important; 
    height: 100% !important; 
  }
  
  .mat-vertical-stepper-header {
    padding-bottom: 0 !important;
  }

  .mat-step-icon-selected {
    background-color: rgba(0, 0, 0, 0.54) !important;
  }

  .mat-step-icon-state-number {
    background-color: #48555f !important;
  }

  .mat-step-icon {
    height: 32px;
    width: 32px;
    position: relative;
    top: -8px;
    left: -4px;
  }

  .mat-step-header {
    .mat-step-label {
      position: relative;
      top: -8px;
    }
  }
  .mat-step-header:hover {
    background-color: transparent;
  }
}

.qbo {
  &--menu {
    &-icon {
      color: #333;
      margin: 4px;
      &__active {
        color: #333;
      }
    }

    &-text {
      color: #333;
    }
  }

  &--title {
    font-size: 14px;
    color: #5a5d72;
    &-fyle-org {
      font-weight: 500;
    }

    &-separator {
      margin: 8px;
    }

    &-qbo-org {
      font-weight: 500;
    }
  }

  .simple-search {
    &>.mat-form-field-wrapper {
      padding: 0;
    }
  }
  
}