$fy-violet-background: #220033f0;
$fy-white: #fff;
$fy-layout-background: #f4f4f4;
$fy-highlighted-background: #fafafa;
$fy-nav-text: #5a6169;
$fy-alt-row: #f3f5f7;
$fy-nav-active-background: #d8d8d8;
$fy-nav-hover: #0000000a;
$fy-primary: #f36;
$fy-search-icon: #00000033;
$fy-panel: #f5f5f5;
$fy-dashboard-text-dark: #2c304e;
$fy-dashboard-text: #5e5e5e;
$fy-dashboard-stat-icon: #a9acbc;
$fy-info: #5c98e5;
$fy-info-dark: #2c304e;
$fy-autocomplete-border: #d3d3d373;
$fy-stepper-selected-icon: #0000008a;
$fy-steppper-number: #48555f;
$fy-stepper-check: #b3bac7;
$fy-stepper-check-complete: #28c354;
$fy-menu-text: #333;
$fy-title-text: #5a5d72;
$fy-card-border: #a9acbc52;
$fy-error-border: #da1e280a;
$fy-error-background: #da1e2805;
$fy-error: #da1e28;
$fy-table-border: #dfe3e8;
$fy-page-header: #1c2024;
$fy-page-info-desc: #414562;
$fy-settings-background: #f2f2f2;

