:root {
    --fy-violet-background: #220033f0;
    --fy-white: #fff;
    --fy-layout-background: #f4f4f4;
    --fy-background: #ffffff;
    --fy-nav-text: #5a6169;
    --fy-alt-row: #f3f5f7;
    --fy-nav-active-background: #d8d8d8;
    --fy-nav-active-text: #ff2e63;
    --fy-search-icon: #00000033;
}