<nav class="sub-navbar navbar fixed-top navbar-light d-flex flex-column" *ngIf="!isLoading">
    <div class="sub-navbar-heading">
      <h1 class="navbar-brand">Mappings</h1>
    </div>
    <ul class="nav sub-nav-tabs d-flex flex-row tabSection">
        <li class="sub-nav-item">
          <a class="sub-nav-link" routerLink="general" routerLinkActive="active">General</a>
        </li>
        <li class="sub-nav-item">
          <a class="sub-nav-link" routerLink="employees" routerLinkActive="active">Employee</a>
        </li>
        <li class="sub-nav-item">
          <a class="sub-nav-link" routerLink="categories" routerLinkActive="active">Category</a>
        </li>
        <li class="sub-nav-item" *ngIf="projectsEnabled">
            <a class="sub-nav-link" routerLink="projects" routerLinkActive="active">Project</a>
        </li>
        <li class="sub-nav-item" *ngIf="costCentersEnabled">
            <a class="sub-nav-link" routerLink="cost_centers" routerLinkActive="active">Cost Center</a>
        </li>
    </ul>
</nav>
<app-loader *ngIf="isLoading"></app-loader>
<router-outlet *ngIf="!isLoading"></router-outlet>